@page "/articleoverview"
@inject Services.IArticleService Service
<div>
    <h3>Article overview</h3>
    <div class="form-group">
        <a class="btn btn-success" href="createemployee"><i class="oi oi-plus"></i> Create New</a>
    </div>
</div>
<div>
    @if (articles != null) {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        ID
                    </th>
                    <th scope="col">
                        Subject
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var article in articles) {
                    <tr>
                        <td>
                            @article.ArticleId
                        </td>
                        <td>
                            <a href=@($"article/{article.ArticleId}")>@article.ArticleId</a>
                        </td>
                        <td>
                            @article.Subject
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
@code {
    private IEnumerable<Models.Article> articles;

    protected override async Task OnInitializedAsync()
    {
        articles = await Service.SearchArticles();
    }
}
