@page "/articledetails/{id}"
@using TinyMCE.Blazor
@inject DotNetDemo.Services.Contracts.IArticleService Service
@inject NavigationManager navManager
<h3>Article details</h3>

<div class="row justify content center m.3">
    <div class="col-sm-8">
        <div class="card">
            @if(Article != null) {
                <div class="card-header">
                    <h1>@Article.Subject</h1>
                </div>
                <div class="card-body text-center">
                    <h4>ID : @Article.ArticleId</h4>
                    <h4>Subject : @Article.Subject</h4>
                </div>
                <div class="card-body text-center">
                    @((MarkupString)_bodyText)
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-primary" href="/articles">Back</a>
                    <a class="btn btn-primary" href="/updatearticle/@Article.ArticleId">Edit</a>
                    <button class="btn btn-danger" @onclick="DeleteArticleAsync">Delete</button>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }

    public Models.Article Article { get; set; } = new Models.Article();

    private string _bodyText = "";

    protected override async Task OnInitializedAsync()
    {
        Article = await Service.GetArticle(Guid.Parse(Id));

        _bodyText = Article?.Body ?? "";
    }

    protected async Task DeleteArticleAsync()
    {
        await Service.DeleteArticle(Guid.Parse(Id));
        navManager.NavigateTo("/");
    }
}
