@page "/createarticle"
@using Pages
@inject Services.IArticleService Service
@inject NavigationManager navManager
<h3>CreateEmployee</h3>

<Form ButtonText="Create Employee" employee="@employee"
    OnValidSubmit="@Create" />

@code {
    Models.Article employee = new Models.Article();

    async Task Create()
    {
        await Service.AddArticle(employee);
        navManager.NavigateTo("/");
    }
}
