@page "/departmentdetails/{id}"
@inject DotNetDemo.Services.Contracts.IDepartmentService Service
@inject NavigationManager navManager
<h3>DepartmentDetails</h3>

<div class="row justify content center m.3">
    <div class="col-sm-8">
        <div class="card">
            @if(Department != null) {
                <div class="card-header">
                    <h1>@Department.DepartmentName</h1>
                </div>
                <div class="card-body text-center">
                    <h4>Department ID : @Department.DepartmentId</h4>
                    <h4>Name : @Department?.DepartmentName</h4>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-primary" href="/departments">Back</a>
                    <a class="btn btn-primary" href="/updatedepartment/@Department.DepartmentId">Edit</a>
                    <button class="btn btn-danger" @onclick="DeleteDepartment">Delete</button>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }

    public Models.Department Department { get; set; } = new Models.Department();

    protected override async Task OnInitializedAsync()
    {
        Department = await Service.GetDepartment(int.Parse(Id));
    }

    protected async void DeleteDepartment()
    {
        await Service.DeleteDepartment(int.Parse(Id));
        navManager.NavigateTo("/departments");
    }
}
