@using Microsoft.AspNetCore.Components.Web
@inject Services.IDepartmentService Service

@if (department != null) {
    <EditForm Model="@department" OnValidSubmit="@OnValidSubmit">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label>Department Name :</label>
            <div>
                <InputText @bind-Value="@department.DepartmentName" class="form-control col-sm-3" />
                <ValidationMessage For="@(() => department.DepartmentName)" />
            </div>
        </div>
        <button type="submit" class="btn btn-success">
            @ButtonText
        </button>
    </EditForm>
}
@code {
    [Parameter]
    public Models.Department department { get; set; }
    [Parameter]
    public string ButtonText { get; set; } = "Save";
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    protected override async Task OnInitializedAsync()
    {
        
    }
}
