@page "/updatedepartment/{id}"
@using Pages
@inject DotNetDemo.Services.Contracts.IDepartmentService Service
@inject NavigationManager navManager
<h3>UpdateEmployee</h3>

<Form ButtonText="Update Department" department="@department"
    OnValidSubmit="@Update" />

@code {
    [Parameter]
    public string Id { get; set; }

    Models.Department department = new Models.Department();

    protected async override Task OnParametersSetAsync()
    {
        department = await Service.GetDepartment(int.Parse(Id));
    }

    async Task Update()
    {
        await Service.UpdateDepartment(department);
        navManager.NavigateTo("/departments");
    }
}
