@page "/departments"
@inject Services.IDepartmentService Service
<div>
    <h3>DepartmentList</h3>
    <div class="form-group">
        <a class="btn btn-success" href="createdepartment"><i class="oi oi-plus"></i> Create New</a>
    </div>
</div>
<div>
    @if (departments != null) {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        ID
                    </th>
                    <th scope="col">
                        Name
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var department in departments) {
                    <tr>
                        <td>
                            @department.DepartmentId
                        </td>
                        <td>
                            <a href=@($"departmentdetails/{department.DepartmentId}")>@department.DepartmentName</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
@code {
    private IEnumerable<Models.Department> departments;

    protected override async Task OnInitializedAsync()
    {
        departments = await Service.GetDepartments();
    }
}
